body{
    background: rgb(80,12,22);
    background: radial-gradient(circle, rgba(80,12,22,1) 0%, rgba(2,13,27,1) 100%);
    color: white;
    max-width: 100%;
}

h1 {
    padding: 20px;
    text-align: center;
}

.displayImage img{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table, th, td {
    color: white;
    border: 1px solid white;
}

table {
    border-collapse: collapse;
}

button {
    width: 65px;
    border: 1px solid white;
    border-radius: 230px;
    background-color: black;
    color: white;
}